# "All Models Are Wrong. Some Models Are Useful" #
## A Simple Model of Python Data Types ##
The Simple Periodic Table of Python Data Types!
Just as all matter in the universe can be reduced to elements in the Period Table of Elements, all Python Data can be reduced to Python Data Types.

While there are many Python Data Types, we will focus on only seven in this Jupyter Notebook Lesson: Four <b>Simple Python Data Types</b>: (1) String, (2) Integer, (3) Float, (4) Boolean and Three <b>Compound or Composite Python Data Types</b>: (1) List, (2) Dictionary, (3) Numpy Array.

Let's begin! Out of the four simple Python Data Types listed above - string, integer, float, boolean. What is the variable displayed in the Jupyter cell below:

In [ ]:
x='cat'

In [ ]:
#Your Answer

Use the DS4HS "proof by Python" technique to prove and verify the Python Data Type of variable "x" by using the type(x) statement.

In [ ]:
type(x)

Out of the four simple Python Data Types listed above - string, integer, float, boolean - what is the variable displayed in the Jupyter cell below:

In [ ]:
y=10

In [ ]:
#Integer

Use the DS4HS "proof by Python" technique to prove and verify the Python Data Type of variable "y" by using the type(y) statement.

In [ ]:
type(y)

Out of the four simple Python Data Types listed above - string, integer, float, boolean - what is the variable displayed in the Jupyter cell below:

In [ ]:
z=10.5

In [ ]:
#float

Use the DS4HS "proof by Python" technique to prove and verify the Python Data Type of variable "z" by using the type(z) statement.

In [ ]:
type(z)

Out of the four simple Python Data Types listed above - string, integer, float, boolean - what is the variable displayed in the Jupyter cell below:

In [ ]:
b=y>1 
b

In [ ]:
#Boolean

Use the DS4HS "proof by Python" technique to prove and verify the Python Data Type of variable "b" by using the type(b) statement.

In [ ]:
type(b)

Use the following number assigned to the Python varaible "tricky" and add it to your Python variable "y" defined above.

Remember 'y'=10

In [ ]:
tricky= 100
iamawiz = tricky+y
iamawiz

What is the problem?

In [ ]:
#Your answer.

How can you resolve the issue without completely redefining the Python data types of variables 'y' and 'tricky'?

## SECTION TWO ##

Exploring Available Python Methods and Functions for the String, Integer, Float and Boolean Data Types
Understanding the Python Dot "." Notation
Using dir(), help() statements and using the Jupyter/iPython ? and ?? feature

Explore the variable "x" with dir(x) and help(x).

For dir(x), ignore all items listed the start with an underscore or double underscore

In [ ]:
#dir(x)
#help(str)
#??str
x="Robinson Secondary School Fairfax VA"
xlist=x.split()
type(xlist)

In [ ]:
for i in xlist: print(i)

Explore the variable "y" with dir(y) and help(y).

For dir(y), ignore all items listed the start with an underscore or double underscore

In [ ]:
#dir(y)
#help(y)
#?y
#??y
#help(int)
#??int

Explore the variable "z" with dir(z) and help(z).

For dir(y), ignore all items listed the start with an underscore or double underscore

Explore the variable "z" with dir(z) and help(z).

For dir(z), ignore all items listed the start with an underscore or double underscore

In [ ]:
from datascience import Table
import numpy as kp

In [ ]:
arraydata=Table.read_table('/home/abcaslow/heartrate.csv')
arraydata.column('heartrate')[800:850]

In [ ]:
kp.max(arraydata.column('timestamp'))

In [ ]:
arraydata.column('heartrate').dtype

In [ ]:
#dir(np)

In [ ]:
f=open('/home/abcaslow/heartrate.csv')

In [ ]:
s=f.read()

In [ ]:
type(s)

In [ ]:
robowiz=s.split('\n')

In [ ]:
del robowiz[10:]

In [ ]:
robowiz

In [ ]:
robowiz2=robowiz.split(',')
robowiz2

In [ ]:
for i in robowiz: 
    print(i.split(','))

In [ ]:
wiz=[i.split(',') for i in robowiz] # This is called "list comprehension"

In [ ]:
wiz # It's a list of lists of strings!!!!

In [ ]:
wiz[0] # Print the first element of the outer list.

In [ ]:
x=wiz[0][1] #Assign to x: the 2nd element of the inner list inside of the 1st element of the outer list.
x           #Double check that this is the correct value from the list of lists above.

In [ ]:
y=wiz[1][1] #Assign to y: the 2nd element of the inner list inside of the 2nd element of the outer list.
y           #Double check that this is the correct value from the list of lists above.

In [ ]:
x+y

In [ ]:
int(x)+int(y)

[Orange Theory: What your heartrate is telling you.](https://www.orangetheory.com/en-us/articles/what-your-heartrate-is-telling-you/)

Pay special attention to the arm band on Runner #1 and the wrist ban on Runner #2

According to this article, Orange Theory has 1 MILLION members worldwide.