# <b>Computational Thinking</b> #
## <i>All Models Are Wrong. Some Models Are Useful</i> ##
### A Simple Model of Python Data Types</i> ###
The Simple Periodic Table of Python Data Types!
Just as all matter in the universe can be reduced to elements in the Period Table of Elements, all Python Data can be reduced to Python Data Types.

While there are many Python Data Types, we will focus on only six in this Jupyter Notebook Lesson: Four <b>Simple Python Data Types</b>: (1) String, (2) Integer, (3) Float, (4) Boolean and Three <b>Compound or Composite Python Data Types</b>: (1) List, (2)  Numpy Array.  

Python Dictionaries and Tuples will be covered in a later Jupyter Notebook.

Let's begin by exploring the four simple Python Data Types listed above - string, integer, float, boolean.

## The Python String Data Type ##
A Python String Data Type can include virtually every possible character. Letters, numbers, punctuation symbols, symbols, hidden characters, etc.

The key indicator of a Python Data Type is the presence of quotation symbols at the beginning and ending of a string. Examples: <b>"</b>Data Science<b>"</b> or <b>'</b>Washington DC 20007<b>'</b>.

Either single or double quotes can be used to define a Python string.

What is the variable displayed in the Jupyter cell below:

In [ ]:
x='cat' #The big hint is the value begins and ends with quotation marks.

In [ ]:
#Your Answer

Use the DS4HS "proof by Python" technique to prove and verify the Python Data Type of variable "x" by using the <b>type(x)</b> statement.

In [ ]:
type(x)

Out of the four simple Python Data Types listed above - string, integer, float, boolean - what is the variable displayed in the Jupyter cell below.

<b>Hint</b>: The assigned value to the variable 'y' is the number <b>10</b>.
This value is <b>NOT</b> enclosed with quotation symbols. This value has <b>NO</b> decimal point.

In [ ]:
y=10  # Notice there are NO quotation marks and NO decimal point.

In [ ]:
#Your Answer

Use the DS4HS "proof by Python" technique to prove and verify the Python Data Type of variable "y" by using the type(y) statement.

In [ ]:
type(y)

Out of the four simple Python Data Types listed above - string, integer, float, boolean - what is the variable displayed in the Jupyter cell below.

<b>Hint</b>: The assigned value to the variable 'z' is the number <b>10</b>.
This value is <b>NOT</b> enclosed with quotation symbols. This value has <b>HAS</b> a decimal point.

In [ ]:
z=10.5

In [ ]:
#Your Answer.

Use the DS4HS "proof by Python" technique to prove and verify the Python Data Type of variable "z" by using the type(z) statement.

In [ ]:
type(z)

Out of the four simple Python Data Types listed above - string, integer, float, boolean - what is the variable displayed in the Jupyter cell below.

<b>Hint</b>: The assigned value to the variable <b>'b'</b> is a simple math expression <b>y==10</b>. The double equal sign <b>==</b> is performing a comparison of the assigned value to <b>y</b> to the number 10.

This value is <b>NOT</b> enclosed with quotation symbols. This value will return only two values: (1) <b>True</b> and (2) <b>False</b>.

In [ ]:
b=y==1 
b

In [ ]:
#Boolean

Use the DS4HS "proof by Python" technique to prove and verify the Python Data Type of variable "b" by using the type(b) statement.

In [ ]:
type(b)

Use the following number assigned to the Python varaible <b>"tricky"</b> and add it to your Python variable <b>"y"</b> defined above.

Remember <b>y</b>=10

In [ ]:
tricky= int('100')  #Hint: Make note that 100 is enclosed within quotation symbols.
iamawiz = tricky+y
iamawiz

What is the problem?

In [ ]:
#Your answer.

How can you resolve the issue without completely redefining the Python data types of variables <b>y</b> and <b>tricky</b>?

In [ ]:
#Your answer in Python code.

### Introducing Our First Python Data Structure: The Python <b>List</b> ###

To review what we have done so far, let's create a list of all of the variables we have created so far: <b>x, y, z, b tricky</b>
Great! Now, let's place these variables into an actual Python <b>list</b> enclosing them <b>[ ]</b> and separating them with a comma.

While we have worked with the most basic Python Data Types - string, int, float and bool, these Data Types are of minimal value if they are not grouped into clusters or sets of data. A Python <b>list</b> is perhaps the simplest way of grouping sets/clusters of data. With this said, here is our first interaction with a Python <b>list</b>.

Make note that the Python <b>list</b> data structure will provide an excellent "compare/constrast" learning experience with the central Python data structure for Data Science: the Python <b>numpy array</b>. Python lists and numpy arrays possesses many similarities between each other but also many critical differences that are important for Data Science.

In [ ]:
list_of_vars=[x,y,z,b,tricky]

Now let's put this Python <b>list</b> to work by writing a very simple two line Python <b>for loop</b> to list each variable's Python Data Type:

In [ ]:
for i in list_of_vars: 
    print (i, '   ',type(i))

Notice this Python <b>for</b> loop produced a list of values for each variable in the <b>list_of_vars</b>  along with their specific Python Data Types. 

As a pure extra credit exercise, let's modify this simple Python list_of_vars and its associated for loop so that it provides more complete output in a better format.

First, let's convert our list of Python variables into a list of strings with the variable names:

In [ ]:
list_of_vars='x,y,z,tricky'.split(',') # split converts a Python string into a Python list.
list_of_vars

Next, let's modify our list_of_vars <b>for</b> loop in the following manner:

In [ ]:
for i in list_of_vars:
    print(i,  type(locals()[i])) #"locals()" prints out all of the defined Python local variables

## SECTION TWO ##
### Compound/Composite Python Data Types: Lists and Numpy Arrays ###

### Lists ###

A Python of <b>list</b> is a sequence of elements. 

Each Python <b> list element</b> is also a Python Data Type. 

Each list element is assigned an <b> index number</b> starting with <b>0</b>.

Just as strings are enclosed with quotation symbols, lists are enclosed with <b> square brackets [ ]</b>.

Let's begin exploring Python lists by opening a file with timestamps and measured heart rates.

Let's start with opening a demonstration file.

In [ ]:
#f=open('~/IaC_Literacy_Project/heartrate_list_demo.csv')
f=open('/home/abcaslow/IaC_Literacy_Project/heartrate_list_demo.csv')

Let's read this file into memory and review it's contents.

In [ ]:
s=f.read()
s #Notice the output begins and ends with quotation symbols. What is the Data Type?

It is a <b> string </b>! 

Notice the several <b>\n</b> symbols in this string. This is the <b>New Line</b> character sequence.

Let's run the Python <b>print</b> statement with <b>s</b> to see the effects of <b>\n</b>.

In [ ]:
print(s) #Notice the Python print statement actually applies the \n character sequence.

How can one and only one row of this table be accessed?

This can't be done at this time easily. The entire table is one big <b>string</b> divided up by the new line <b>\n</b> character sequence.

What needs to be done is this <b>"one big string"</b> Python object must be converted to a <b>list</b> by spliting it up at each <b>\n</b> character sequence.

This will be performed using the Python string <b>split</b> method.

In [ ]:
heartrate_list=s.split('\n') #Notice the string is being split on "\n".
heartrate_list #Notice how the list begins and ends with square brackets [].

In [ ]:
len(heartrate_list) #Explore a list with the len statement to count its elements.

#### <b>Pay Attention Here! How to Access Specific Elements of a List with [ ]</b> ####

Once you have created a Python list and you know what Data Type(s) the list elements are, you can access specific elements of the list with pinpoint accuracy using the following syntax:

<b>list_name[ index number]</b>

Here is an example:

In [ ]:
heartrate_list[0]  #Use this syntax to view a specific element (row) of a list.

You can also extract ranges of Python list elements by specifying a starting list element index number and an ending list element list number separated by a <b>:</b>

Here is an example that lists the first five elements of a list:

In [ ]:
heartrate_list[0:5]  #Use this syntax to view a specific range of list elements.

Let's check the Python Data Types of both <b>heartrate_list</b> and <b>heartrate_list[0]</b>

In [ ]:
type(heartrate_list) # This is a list. Uncomment the next 'type' statement to run it.
#type(heartrate_list[0]) # This is a string
#This heartrate_list is technically a 'list of strings'; a Data Type within a Data Type

### While we are making progress, but.... ### 

By converting our big multi-line string object into a list of strings, we still have a problem. Each line is a single string. Our timestamp on the left and the associated heart rate measurement are continuous string. If we want to access only the timestamp or only the heart rate measurement, we cannot do so easily because they are a single undifferentiated string.

We want to separate out the timestamp and the heartrate into two separate columns. This is where the key Python Data Science modules can help. There are three key Python Data Science modules that will be used throughout this DS4HS course to solve this specific problem:


1. <b>numpy</b>
    
1. <b>the University of California Berkeley datacience module</b>
    
1. <b>pandas</b>


In this exercise, we will use the most simple and intuitive method to import our heartrate data into ready to use rows and columns and not a list of strings.

We will use the University of California Berkeley datascience module to accomplish this goal because this module was 100% designed for educational purposes. Specifically, to reduce the confusing computer science syntax so that students can focus more on the intuitive and then mathematical aspects of Data Science rather than on the arcane computer programming syntax. We assure you, you will eventually need to learn more computer programming syntax as you develop as a Data Scientist! However at this point of your Data Science education, at the very beginning of your Data Science education, use the Berkeley datascience module to build a solid foundation of Data Science principles without being distracted by annoying arcane computer programming syntax. Once you have built your Data Science foundation, the Berkeley datascience module will act as your personal educational stepping stone to more powerful Data Science modules such as pandas that will also use the more arcane computer programming syntax.

Let's start with importing the needed Python modules.

In [ ]:
from datascience import Table #Import the Berkeley Data Science Table Python statement.
import numpy as np #Import the numpy "numeric python" with the alias "np".

Now, let's take the exact same csv file of timestamps and heartrates that was imported into Python above and now import it with the Berkeley datascience Python module along with the numpy Python module "under the hood".

In [ ]:
arraydata=Table.read_table('/home/abcaslow/IaC_Literacy_Project/heartrate_datascience_demo1.csv')
arraydata

structureNotice how the data table generated is <b>NOT</b> one big Python <b>string</b> that needs to be converted into a Python <b>list of strings</b>.

The table above is actually constructed as two columns each of which is a separate numpy array.

Let's make this "numpy" theory come to life with our <b>proof by Python</b> learning method.

In [ ]:
type(arraydata) # Run this command. Comment it out by placing a "#" at the beginning of the line. And uncomment the next command.
#type(arraydata[0]) # Run this command. Comment it out by placing a "#" at the beginning of the line. And uncomment the next command.
#type(arraydata[1])

This is a very important point to remember.

Notice that <b>type arraydata</b> returned a Python Data Type of <b> Table.datascience</b>.

However, <b>type arraydata[0] and type arraydata[1]</b> returned a Python Data Type of <b>numpy.ndarray</b>.

This proves that "under the hood" of the Berkeley datascience table are sets of numpy arrays.

Each column of a Berkeley datascience table is actually a numpy array.

Let's continue with our "proof by Python" learning method to convert this theoretical talk into actual Python output. 

Let's make our Python "theory come to life" by actually interacting with Python!

In [ ]:
arraydata
arraydata[0] # Run this command. Comment it out by placing a "#" at the beginning of the line. And uncomment the next command.
arraydata[1]
len(arraydata) #Notice how only the number 2 is returned. This is because only the number of table columns are counted.
#len(arraydata[0]) #Notice how the 9 is returned. This is the number of rows of data in this column or number of array elements.
#len(arraydata[1])

Once you understand that the Berkeley datascience module imports csv files and converts them into columns of numpy array, you will begin to activate your Data Science superpowers! :) 
***
I am very serious! Let's prove this with Python.

In [ ]:
arraydata[1]
arraydata[1]*10
arraydata[1]/2
np.sum(arraydata[1])
np.mean(arraydata[1])
#arraydata[1][:5] 
#np.sum(arraydata[1][:5])
#np.mean(arraydata[1][:5])
arraydata[1]
hb= arraydata[1]
hb
hbunder90=hb[hb< 90]
hbunder90
#len(hbunder90)
#np.mean(hbunder90)

# Conclusion #
Python is a flexible and feature rich data manipulation programming language. Given that Python can do so much, it is hard to figure out where to learn Python.

For Data Science, we suggest you begin by following four step process:

1. Learn and master the following simple Python Data Types: <b>string, integer,
float and boolean</b>.

1.  <b>Learn out to group and cluster these simple Data Types using only two and only two Python Data Structures: (1) list and (2) numpy array.

1. <b>Learn the relationship between the Python list and array data structures and the Python simple Data Types:</b> a list of strings, a list of integer, an array of strings, an array of integers 

1. <b> Use the University of California Berkeley datascience Python module to act as a learning stepping to master the concepts of Python:</b> You are getting starting on a complicated multi-topic: Data Science. As a Data Scientist, you will need to learn and be literate in many subjects: programming, mathematics, domain expertise. You must have a very strong foundational base of hands-on programming. This is what the Berkeley datascience module allows you to attain. It is a stepping stone to developing the foundational knowledge you need to know before you embark on more feature rich and complicated Data Science Python modules such as pandas, scipy, seaborn and more. 

Given that you are at the beginning of your Data Science education journey, you want to focus only on three Python Data Structues at this stage:
    
1. The UC Berkeley datascience module <b> Table </b> data structure. Over time, you will learn that the Berkeley Table data structure can possess one and only one constituent Python Data Type which is itself a multi-element Data Structure: <b>the numpy array</b>. This fact leads us very naturally to the next bullet point below.
1. The <b> numpy array </b> data structure and its relationship to the Berkeley <b> Table</b> data structure
1. The native Python <b>list</b> data structure and how is compares and contrasts to the <b> numpy array </b> data structure.
    
Once you have mastered these three data structures, you will expand into exploring othter Python multi-element data structures such as a dictionary, a tuple and other data structures.

#### <b> A Regimen for Re-enforcing Concepts Covered in this Notebook</b> #### 
<b>Repetitive Hands-on Python Practice Using 3 Different Jupyter User Interfaces: 
    (1) Jupyter Notebook (2) Jupyter Console (3) Jupyter Terminal</b>
    
The contents of this 65 cell Jupyter Notebook is absolutely foundational for moving forward with your Data Science studies. It is suggested that you review the basic concepts covered in this notebook until you have them mastered and fully internalized. To achieve this, apply our "proof by Python" learning approach and repeat all of the hands-on steps in this Jupyter Notebook several times using three different Jupyter interfaces the following order:
    
1. <b> With Training Wheels Using This Very Same Jupyter Notebook Over and Over:</b>  Just as you have been doing inside of this Jupyter Notebook, use <b>CONTROL+ENTER</b> to advance to the next cell. You should get to a point where you outgrow using this Jupyter Notebook interface. At first, you will find the Jupyter Notebook interface helpful and supportive; however, as you master the hands-on concepts and you want to interact with Python more fluidly and rapidly, you will find moving to the next Jupyter interface - <b>the Jupyter Console interface</b> - more supportive of your next stage of learning.
1. <b> With Some Assistance Using the Jupyter Console Interface: </b> enter in the exact same Python commands used in this Jupyter Notebook using the <b>Jupyter Python console interface</b> where there is no embedded explanatory text and you still use <b>CONTROL+ENTER</b> to advance to the next cell BUT you can use the <b>arrow up</b> key to repeat a command without completely re-entering the entire command again. You will find you can think faster and move along faster.
1. <b> Flying Solo with the Jupyter Terminal Interface:  open a </b> the <b> Jupyter terminal mode</b> tab and enter <b>ipython3</b> at the command prompt. Then enter in the exact same commands you entered in the previous two Jupyter interface modes. You will no longer need to enter the <b>CONTROL+ENTER</b> key sequence. Now that you know what you are doing, you can move faster and interact with the Python interface more fluidly by simply pressing <b>ENTER</b> to execute a Python statement and press the <b>arrow up</b> key to go back in your command history. In Jupyter Terminal Mode, you can also you the <b>CONTROL+R</b> to perform a reverse search of your command history to replay a command you once entered before. 
    
    
By performing the contents of this Jupyter Notebook using the three different Jupyter interfaces, you will internalize the concepts and hands-on tasks in this lesson through cross-training (using the different interfaces) and repetition. At the end of this process, everything in this lesson should be second nature to you and you should be able to predict the output of the commands you enter before you actually enter the commands themselves.