Run each and every Jupyter Notebook cell below with CONTROL+ENTER. DO NOT SKIP ANY CELLS!

In [ ]:
7+4

In [ ]:
a=7
b=4
a+b

In [ ]:
a='7'
b='4'
a+b

Why did you get the answer above?
It is 100% correct based upon Pyhton Data Types.
It is 100% wrong based on basic addition in elementary school arithmetic
Please correct the error with out changing ANYTHING related to the values assigend to <b>a</b> and <b>b</b>.

In [ ]:
#ENTER ANSWER HERE

In [ ]:
range(5)

In [ ]:
for i in range(5): print(i) #Here is a very simple Python "for" loop.

In [ ]:
x=range(5)
x

In [ ]:
for i in x: print(i) #Once again, here is a very simple Python "for" loop.

In [ ]:
sum(range(5))

In [ ]:
xsum=[0,1,2,3,4] #this is a Python 'list' data structure. Notice the use of [ ] 
sum(xsum)

In [ ]:
arange(5)

Why did this error occur?
Open up a Google browser and search for "python arange"

In [ ]:
import numpy as np

In [ ]:
np.arange(5)

What type of Python Data Type is <b>np.arange(5)</b>?

In [ ]:
#Your answer here.

In [ ]:
np.arange(5).dtype #What exactly is this Python statement telling you?

In [ ]:
np.arange(5).sum()

In [ ]:
np.arange(5).mean()

In [ ]:
testlist=[0,1,2,3,4]

In [ ]:
len(testlist)

In [ ]:
sum(testlist)

In [ ]:
mean(testlist)

While the Python functions <b>len</b> and <b>sum</b>, it appears that the Python function <b>mean></b> does not exist? Is there a way to calucate the arithmetic mean of this list using on the the Python <b>len</b> and <b>sum</b> functions?

#Calculate the arithmetic mean of the list 'testlist' with the <b>len</b> & <b>sum</b> functions.

In [ ]:
#Your answer here.

In [ ]:
testlist2=[0,1,'2',3]
testlist2

In [ ]:
sum(testlist2)

<b>EXTRA CREDIT</b>: Can you interpret what is happening in the cell below?

<b>HINT</b>: Do a Google search on "Basic Python list comprehension"
The datacamp.com page provides a good explanation of "list comprehension".
Don't stress if you can't understand list comprehension at this time. This is simply an EXTRA CREDIT exercise.

In [ ]:
xsum=[i for i in range(5)] #OH NO! This is getting complicated and confusing.
xsum

<b>Conclusion</b>

Attempt to perform hands-on concepts in this Jupyter Notebook using the Jupyter Console or Jupyter Terminal.

Remember, for many of these concepts, you are using the Jupyter Notebook as a form of "learning Python with training wheels".

To move off of these "training wheels" and move more quicky and flexibly use the Jupyter Console and then fly 100% solo (no training wheels!) by activating <b>ipython3</b> in a Jupyter terminal tab.

In [ ]:
from datascience import *
data=Table.read_table('/home/abcaslow/heartrate.csv')

In [ ]:
len(data[1])

In [ ]:
hb=data[1]
workout=hb[hb>145]

In [ ]:
len(workout)
data

In [ ]:
data.where(data[1], are.above(145)) # marbles.where("Price", are.above(1.5)
#data.where(data[1], are.between(145, 250))
#data.where(data[1], are.between(145, 250)).where(data[0],are.containing('10-02 09'))
date=data.where(data[0],are.containing('10-02 11:'))
workout=date.where(date[1], are.between(100,160))
workout

In [ ]:
workout[1].mean()
len(workout[1])
workout.show(148)

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline
workout.bar('timestamp')
plt.xticks(rotation=90)
plt.grid(True)