#### <b>Exploring numpy Arrays and Array Arithmetic</b> ####

The following Jupyter Notebook explores the use of numpy arrays through hands-on interaction with the cells of Python commands embedded in this Notebook. This hands-on interaction makes the theory of numpy arrays come to life.

When you complete this exercise, remember numpy arrays are the building blocks of:

1. Berkeley datascience tables
1. pandas dataframes

As always, let's start with importing the needed Python modules. In this case, let's import <b>numpy</b>.

In [20]:
import numpy as np

Next, let's create two numpy arrays using the numpy <b>arange</b> function.

Remember the the parameters used inside of the <b>arange</b> function are:
    
1. start of numeric range of the array: in this case "2"
2. end of numeric range of the array: in this case "101" minus 1.
3. finally, we square the entire range of numbers in the array with <b>**2</b>

In [21]:
upper=np.arange(2,101)**2

In [22]:
upper

array([    4,     9,    16,    25,    36,    49,    64,    81,   100,
         121,   144,   169,   196,   225,   256,   289,   324,   361,
         400,   441,   484,   529,   576,   625,   676,   729,   784,
         841,   900,   961,  1024,  1089,  1156,  1225,  1296,  1369,
        1444,  1521,  1600,  1681,  1764,  1849,  1936,  2025,  2116,
        2209,  2304,  2401,  2500,  2601,  2704,  2809,  2916,  3025,
        3136,  3249,  3364,  3481,  3600,  3721,  3844,  3969,  4096,
        4225,  4356,  4489,  4624,  4761,  4900,  5041,  5184,  5329,
        5476,  5625,  5776,  5929,  6084,  6241,  6400,  6561,  6724,
        6889,  7056,  7225,  7396,  7569,  7744,  7921,  8100,  8281,
        8464,  8649,  8836,  9025,  9216,  9409,  9604,  9801, 10000])

In [23]:
lower=np.arange(1,100)**2

In [24]:
lower

array([   1,    4,    9,   16,   25,   36,   49,   64,   81,  100,  121,
        144,  169,  196,  225,  256,  289,  324,  361,  400,  441,  484,
        529,  576,  625,  676,  729,  784,  841,  900,  961, 1024, 1089,
       1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936,
       2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025,
       3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356,
       4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929,
       6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744,
       7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801])

Now let's substract the upper array we created from the lower array we created.

In [25]:
delta=upper-lower

In [27]:
delta

array([  3,   5,   7,   9,  11,  13,  15,  17,  19,  21,  23,  25,  27,
        29,  31,  33,  35,  37,  39,  41,  43,  45,  47,  49,  51,  53,
        55,  57,  59,  61,  63,  65,  67,  69,  71,  73,  75,  77,  79,
        81,  83,  85,  87,  89,  91,  93,  95,  97,  99, 101, 103, 105,
       107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129, 131,
       133, 135, 137, 139, 141, 143, 145, 147, 149, 151, 153, 155, 157,
       159, 161, 163, 165, 167, 169, 171, 173, 175, 177, 179, 181, 183,
       185, 187, 189, 191, 193, 195, 197, 199])

Notice how the <b>delta</b> array is a series of odd numbers starting from 3 and ending at 199.

This is the <b>2n+1</b> numeric pattern generated by subtracting the difference between two consecutive squares.

For more information on this interest and surprising pattern, click on these two links:

https://betterexplained.com/articles/surprising-patterns-in-the-square-numbers-1-4-9-16/

https://nrich.maths.org/2275/note

Let's verify this <b>delta</b> array that we auto-generated by substracting the <b>upper</b> array from the <b>lower</b> array by creating yet another array using the numpy <b>arange</b> function:

In [28]:
allodds=np.arange(3,200,2)

In [29]:
allodds

array([  3,   5,   7,   9,  11,  13,  15,  17,  19,  21,  23,  25,  27,
        29,  31,  33,  35,  37,  39,  41,  43,  45,  47,  49,  51,  53,
        55,  57,  59,  61,  63,  65,  67,  69,  71,  73,  75,  77,  79,
        81,  83,  85,  87,  89,  91,  93,  95,  97,  99, 101, 103, 105,
       107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129, 131,
       133, 135, 137, 139, 141, 143, 145, 147, 149, 151, 153, 155, 157,
       159, 161, 163, 165, 167, 169, 171, 173, 175, 177, 179, 181, 183,
       185, 187, 189, 191, 193, 195, 197, 199])

Let's perform a Boolean comparison between the <b>delta</b> array with this newly generated <b>allodds</b> array.

Notice the difference betwee the use of a single <b>=</b> sign and a double <b>==</b> sign:

1. The single <b>=</b> assigns a value to a variable name - this case <b>verify</b>.
2. The double <b>==</b> is a <b>Boolean</b> comparision operator comparing the values in the <b>allodds</b> array with the values in the <b>delta</b> array.

In [30]:
verify=allodds==delta

In [31]:
verify

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True])

Notice that all values are <b>True</b>.

We can summarize this verification with the numpy <b>all</b> method.

In [32]:
sumverify=np.all(verify)

In [33]:
sumverify

True

### Conclusion ###

This Jupyter Notebook provided hands-on practice with:

1. the numpy <b>arange</b> function to auto-generate numpy arrays
1. performing arithmetic operations on numpy arrays

remember numpy arrays are the building blocks of:

1. <b>Berkeley datascience tables</b>
1. <b>pandas dataframes</b>