In [50]:
import csv

In [51]:
def read_csv_file_as_lod(filename):
    f = open(filename)
    csv_reader = csv.reader(f)
    headers = next(csv_reader)
    return [dict(zip(headers,row)) for row in csv_reader if len(row)>0]

In [52]:
pwd

'/home/abcaslow/IaC_Literacy_Project'

In [53]:
heartrate_list = read_csv_file_as_lod('/home/abcaslow/heartrate.csv')

In [54]:
len(heartrate_list)

12175

Review the heartrate_list. It is a list of dictionaries.
Ask yourself, how do you find the mean, median, min and max of these heartrates?
Compare your answer to finding the mean, median, min and max with a numpy array.

In [55]:
heartrate_list[:10]

[{'timestamp': '2020-10-01 20:42:22 -0400', 'heartrate': '99'},
 {'timestamp': '2020-10-01 20:47:46 -0400', 'heartrate': '67'},
 {'timestamp': '2020-10-01 20:50:14 -0400', 'heartrate': '107'},
 {'timestamp': '2020-10-01 20:50:19 -0400', 'heartrate': '107'},
 {'timestamp': '2020-10-01 20:57:39 -0400', 'heartrate': '63'},
 {'timestamp': '2020-10-01 21:02:07 -0400', 'heartrate': '57'},
 {'timestamp': '2020-10-01 21:05:08 -0400', 'heartrate': '67'},
 {'timestamp': '2020-10-01 21:11:29 -0400', 'heartrate': '77'},
 {'timestamp': '2020-10-01 21:16:27 -0400', 'heartrate': '70'},
 {'timestamp': '2020-10-01 21:20:14 -0400', 'heartrate': '74'}]

What Python Data Type is inside the heartrate_list? Let's check with the Python 'type' statement.

In [58]:
type(heartrate_list[0])

dict

Like peeling the layers of an onion, what Python Data Types are in the nested dictionary?
Let's begin this investigation with the Python dictionary 'keys()' method.

In [ ]:
heartrate_list[0].keys()

Still peeling down into the nested Python Data Types, let's check exactly what the Data Types are of each Dictionary key. Make sure you run each 'type' statement at a time by reversing the comment symbol at the beginning of the line.

In [ ]:
type(heartrate_list[0]['timestamp'])
#type(heartrate_list[0]['heartrate'])

As you can see, both the timestamp and the heartrate are Python 'string' Data Types.
Now let's perform a similar analysis with a Berkeley datascience Table.
We will start by loading the Berkeley datascience Python module and then loading the exact same csv file we loaded to create our heartrate_list in raw Python above.

In [ ]:
from datascience import Table
import numpy as np

In [ ]:
heartrate_table=Table.read_table('/home/abcaslow/heartrate.csv')

In [ ]:
heartrate_table

In [ ]:
len(heartrate_table)

In [ ]:
heartrate_table.shape

In [ ]:
heartrate_table.column(0)[:10]

In [ ]:
heartrate_table.column(1)[:10]

In [ ]:
heartrate_table.column('timestamp').dtype

In [ ]:
heartrate_table.column('heartrate').dtype

Remember, the table produced by the Berkeley DataScience module is a set of columns of numpy arrays. The following cell separates the heartrate columns for easy statistical analysis.

In [89]:
#np.min(heartrate_table.column(1))
#np.max(heartrate_table.column(1))
#np.mean(heartrate_table.column(1))
#np.median(heartrate_table.column(1))
#np.var(heartrate_table.column(1))
#np.std(heartrate_table.column(1))
np.percentile(heartrate_table.column(1),4)

54.0

In [168]:
for i in range(40,59):
    print(np.percentile(heartrate_table.column(1),i))

70.0
70.0
71.0
71.0
72.0
72.0
73.0
74.0
74.0
75.0
75.0
76.0
76.0
77.0
78.0
78.0
79.0
80.0
80.0

In [74]:
m=np.percentile(heartrate_table.column(1),50)

In [79]:
test=np.zeros_like(m)
np.percentile(heartrate_table.column(1),35, out=test)
#heartrate_table.shape

array(68.)

In [91]:
for i in np.arange(0,101):
        print(i, " percentile: ", np.percentile(heartrate_table.column(1),i, out=test))

0  percentile:  44.0
1  percentile:  52.0
2  percentile:  53.0
3  percentile:  54.0
4  percentile:  54.0
5  percentile:  55.0
6  percentile:  56.0
7  percentile:  56.0
8  percentile:  56.0
9  percentile:  57.0
10  percentile:  57.0
11  percentile:  58.0
12  percentile:  58.0
13  percentile:  59.0
14  percentile:  59.0
15  percentile:  59.0
16  percentile:  60.0
17  percentile:  60.0
18  percentile:  60.0
19  percentile:  61.0
20  percentile:  61.0
21  percentile:  61.1952
22  percentile:  62.0
23  percentile:  62.0
24  percentile:  63.0
25  percentile:  63.0
26  percentile:  64.0
27  percentile:  64.0
28  percentile:  65.0
29  percentile:  65.0
30  percentile:  66.0
31  percentile:  66.0
32  percentile:  66.0
33  percentile:  67.0
34  percentile:  67.0
35  percentile:  68.0
36  percentile:  68.0
37  percentile:  69.0
38  percentile:  69.0
39  percentile:  69.8182
40  percentile:  70.0
41  percentile:  70.0
42  percentile:  71.0
43  percentile:  71.0
44  percentile:  72.0
45  percentile:  72.0
46  percentile:  73.0
47  percentile:  74.0
48  percentile:  74.0
49  percentile:  75.0
50  percentile:  75.0
51  percentile:  76.0
52  percentile:  76.0
53  percentile:  77.0
54  percentile:  78.0
55  percentile:  78.0
56  percentile:  79.0
57  percentile:  80.0
58  percentile:  80.0
59  percentile:  81.0
60  percentile:  82.0
61  percentile:  83.0
62  percentile:  83.0
63  percentile:  84.0
64  percentile:  85.0
65  percentile:  86.0
66  percentile:  87.0
67  percentile:  88.0
68  percentile:  89.0
69  percentile:  91.0
70  percentile:  92.0
71  percentile:  93.0
72  percentile:  94.0
73  percentile:  95.26432000000005
74  percentile:  96.0
75  percentile:  97.5
76  percentile:  99.0
77  percentile:  100.0
78  percentile:  101.0
79  percentile:  102.0
80  percentile:  102.0
81  percentile:  103.0
82  percentile:  105.0
83  percentile:  108.0
84  percentile:  111.0
85  percentile:  117.0
86  percentile:  123.0
87  percentile:  125.0
88  percentile:  127.0
89  percentile:  128.86000000000058
90  percentile:  129.0
91  percentile:  130.0
92  percentile:  131.0
93  percentile:  132.0
94  percentile:  133.0
95  percentile:  134.0
96  percentile:  136.0
97  percentile:  137.0
98  percentile:  139.0
99  percentile:  142.0
100  percentile:  202.0

???? Why the duplicate values in contiguous ranges of percentiles.
Example: 79 and 80 have the heartrate value of 102.0
???? Why the broad std?

In [92]:
import pandas as pd
df=pd.read_csv('/home/abcaslow/heartrate.csv')

In [94]:
df.shape

(12175, 2)

In [96]:
df.describe()

          heartrate
count  12175.000000
mean      83.195208
std       25.372930
min       44.000000
25%       63.000000
50%       75.000000
75%       97.500000
max      202.000000

In [108]:
#np.unique(heartrate_table.column(1))
len(np.unique(heartrate_table.column(1)))

294

In [101]:
#from kite.com numpy.unique
(unique,counts)=np.unique(heartrate_table.column(1),return_counts=True)

In [111]:
counts

array([  1,   1,   1,   2,   3,   5,   1,  29,   1,  65,   1,   1,  76,
         1,   1,   1, 129,   2,   1,   1,   1, 174,   1,   2,   1,   3,
         2,   1, 209,   2,   2,   1,   1,   1, 253,   2,   1,   1,   1,
         1,   1,   2,   2, 264,   1,   4,   2,   1,   1,   3, 303,   2,
         2,   1,   2,   1,   1,   2, 315,   3,   1,   2,   1,   1,   2,
       317,   3,   2,   2,   1,   4,   1,   2, 319,   1,   3,   2,   1,
         3,   2,   1,   1, 278,   1,   1,   2,   1,   1,   3, 265,   1,
         2,   3,   1, 260,   1,   3,   1, 245,   1,   3,   3,   1,   1,
         1, 269,   1,   1,   2,   2,   1,   2,   1, 281,   3,   2,   2,
         3, 273,   1,   2,   1,   1, 247,   1,   1,   2,   1,   2, 266,
         2,   2,   2, 234,   3,   4,   1, 221,   1,   1,   4, 208,   3,
         2,   1,   2, 215,   1,   1,   1,   3, 224,   1,   1,   1,   1,
         1, 179,   4,   2,   1,   1, 179,   3,   1,   1, 198,   1,   2,
         1,   1, 192,   3, 157,   1,   3, 153, 154,   1,   1,   3,   1,
       157,   2,   1,   1,   1, 148,   1,   4, 122,   1,   1,   1, 111,
         1,   3, 123,   3,   1, 108,   1,   1,   2, 111,   1,   1,  88,
         1,  96,   1, 101,   1,   1,  82,   1,  97,   1,   2,   1, 108,
         1,   1,   1,   1, 121,   1, 118, 115,   1,  84,  93,   1, 140,
       187, 130,  72,  46,  37,  41,  38,  42,  39,  39,  29,  27,  27,
        16,  11,   1,  20,  23,  14,  16,  17,  24,  25,  44,  64,  69,
        86,  86, 125, 144, 133, 101, 133, 106,  97,  85,  56,  67,  66,
        45,  40,  51,  26,  10,  12,   7,   9,   5,   3,   2,   1,   1,
         1,   1,   4,   3,   1,   2,   1,   2])

In [104]:
frequencies=np.asarray((unique,counts))
print(frequencies)

[[ 44.      45.      46.      47.      48.      49.      49.1521  50.
   50.6097  51.      51.4574  51.8919  52.      52.0678  52.4232  52.9655
   53.      53.3333  53.7063  53.707   53.8947  54.      54.0845  54.1801
   54.2756  54.565   54.7595  54.8571  55.      55.0538  55.2518  55.4513
   55.6522  55.7534  56.      56.0584  56.1611  56.3672  56.5748  56.679
   56.7839  56.8889  56.9946  57.      57.1004  57.3134  57.5281  57.6362
   57.7444  57.9623  58.      58.1818  58.403   58.5145  58.626   58.7383
   58.8506  58.9637  59.      59.0769  59.305   59.42    59.5349  59.6507
   59.7665  60.      60.2353  60.4724  60.4734  60.592   60.7115  60.8319
   60.9524  61.      61.0738  61.1952  61.44    61.441   61.6867  61.8111
   61.8231  61.9355  62.      62.0609  62.3126  62.439   62.5665  62.8223
   62.9508  63.      63.0803  63.2099  63.4711  63.6028  64.      64.2678
   64.5378  64.8101  65.      65.0847  65.3617  65.641   65.6422  65.7819
   65.9227  66.      66.0648  66.0673  66.2069  66.4935  66.6381  66.7826
   66.9284  67.      67.0742  67.3684  67.6652  67.9646  68.      68.1156
   68.2667  68.5714  68.8803  69.      69.0341  69.1892  69.5023  69.6602
   69.8182  70.      70.137   70.4587  70.7834  71.      71.1111  71.4419
   71.7757  72.      72.4528  72.6245  72.7962  73.      73.1429  73.4928
   73.6695  73.8462  74.      74.3865  74.5631  74.745   74.9268  75.
   75.2941  75.2959  75.4796  75.665   75.8523  76.      76.0396  76.4179
   76.8     76.993   77.      77.1859  77.5758  77.9695  78.      78.1684
   78.3673  78.7692  78.9722  79.      79.1753  80.      80.4188  80.8421
   81.      82.      82.139   82.3598  82.5806  82.8038  83.      83.027
   83.4783  83.7063  83.9344  84.      84.3956  84.8619  85.      85.0976
   85.3333  85.5717  86.      86.5954  86.7797  87.      87.2727  87.7714
   88.      88.4945  88.7693  88.7861  89.      89.5634  89.8246  90.
   90.3529  91.      91.4286  92.      92.3732  92.5301  93.      93.2697
   94.      94.1138  94.8148  94.8659  95.      95.2614  95.4074  95.5238
   95.6818  96.      96.0994  97.      98.      98.0048  99.     100.
  100.671  101.     102.     103.     104.     105.     106.     107.
  108.     109.     110.     111.     112.     113.     114.     115.
  116.     116.614  117.     118.     119.     120.     121.     122.
  123.     124.     125.     126.     127.     128.     129.     130.
  131.     132.     133.     134.     135.     136.     137.     138.
  139.     140.     141.     142.     143.     144.     145.     146.
  147.     148.     149.     150.     153.     154.     164.     173.
  175.     176.     198.     200.     201.     202.    ]
 [  1.       1.       1.       2.       3.       5.       1.      29.
    1.      65.       1.       1.      76.       1.       1.       1.
  129.       2.       1.       1.       1.     174.       1.       2.
    1.       3.       2.       1.     209.       2.       2.       1.
    1.       1.     253.       2.       1.       1.       1.       1.
    1.       2.       2.     264.       1.       4.       2.       1.
    1.       3.     303.       2.       2.       1.       2.       1.
    1.       2.     315.       3.       1.       2.       1.       1.
    2.     317.       3.       2.       2.       1.       4.       1.
    2.     319.       1.       3.       2.       1.       3.       2.
    1.       1.     278.       1.       1.       2.       1.       1.
    3.     265.       1.       2.       3.       1.     260.       1.
    3.       1.     245.       1.       3.       3.       1.       1.
    1.     269.       1.       1.       2.       2.       1.       2.
    1.     281.       3.       2.       2.       3.     273.       1.
    2.       1.       1.     247.       1.       1.       2.       1.
    2.     266.       2.       2.       2.     234.       3.       4.
    1.     221.       1.       1.       4.     208.       3.       2.
    1.       2.     215.       1.       1.       1.       3.     224.
    1.       1.       1.       1.       1.     179.       4.       2.
    1.       1.     179.       3.       1.       1.     198.       1.
    2.       1.       1.     192.       3.     157.       1.       3.
  153.     154.       1.       1.       3.       1.     157.       2.
    1.       1.       1.     148.       1.       4.     122.       1.
    1.       1.     111.       1.       3.     123.       3.       1.
  108.       1.       1.       2.     111.       1.       1.      88.
    1.      96.       1.     101.       1.       1.      82.       1.
   97.       1.       2.       1.     108.       1.       1.       1.
    1.     121.       1.     118.     115.       1.      84.      93.
    1.     140.     187.     130.      72.      46.      37.      41.
   38.      42.      39.      39.      29.      27.      27.      16.
   11.       1.      20.      23.      14.      16.      17.      24.
   25.      44.      64.      69.      86.      86.     125.     144.
  133.     101.     133.     106.      97.      85.      56.      67.
   66.      45.      40.      51.      26.      10.      12.       7.
    9.       5.       3.       2.       1.       1.       1.       1.
    4.       3.       1.       2.       1.       2.    ]]

In [136]:
df1 = pd.DataFrame({'Unique Heart Rates':unique,'Frequency':counts})
df1

     Unique Heart Rates  Frequency
0                  44.0          1
1                  45.0          1
2                  46.0          1
3                  47.0          2
4                  48.0          3
..                  ...        ...
289               176.0          3
290               198.0          1
291               200.0          2
292               201.0          1
293               202.0          2

[294 rows x 2 columns]

In [129]:
freq1= df1.sort_values(by=['Frequency'], ascending=False)

In [153]:
freq1[0:10]

     Unique Heart Rates  Frequency
73                 61.0        319
65                 60.0        317
58                 59.0        315
50                 58.0        303
113                67.0        281
82                 62.0        278
118                68.0        273
105                66.0        269
129                70.0        266
89                 63.0        265

In [154]:
freq1.to_csv('heartrate_freq1.csv')

In [155]:
freq2=Table.read_table('heartrate_freq1.csv')

In [160]:
freq2a=freq2.drop(0)
freq2a

Unique Heart Rates | Frequency
61                 | 319
60                 | 317
59                 | 315
58                 | 303
67                 | 281
62                 | 278
68                 | 273
66                 | 269
70                 | 266
63                 | 265
... (284 rows omitted)

In [163]:
np.mean(freq2a.column(0))

83.45321836734695