### <b>Video Four: Exploring the Python [ ] with Strings and Lists</b> ###

So far, we have explored:
1. Basic Features of Object Oriented Programming in Python: <b>objects, names, types, attributes and methods</b>
1. Basic Python Data Types: <b> string, intger, float and list</b>
1. Built-in Python Functions and their similarities and differences with Python method functions which are associated with specific Data Types.

In this video we will explore the use of square brackets with Python strings and lists. We will also explore when to use parentheses with functions and when to use square brackets. Let's get started.

### <b> Computer Programming Abstraction </b> ### 
#### <b><i>Both Python String and List Data Types Are Sequences of Data</i></b> ####

Both Python string and list data types share the same propeties from a perspective of <b><i>computer abstraction</i></b>: both strings and lists are sequences because they consist of an ordered collection of items:

1. a string consists of an ordered collection of characters.
1. a list consists of an ordered collection of Python data types: strings, integers, floats and more.

Given that both a Python string and list is an ordered collection of items, each item in either a Python string or list is assigned an index number to identify it's precise position in the sequence. Going from left to right, Python index numbers begin with 0 and they can be specified in a pair of square brackets <b>[ ]</b> positioned to the immediate right of the string or list object.

Let's make this Python theory come alive with the following examples:

In [147]:
x='Boston' #x is a sequence of six characters that spell the city name "Boston".
y=['New York','Baltimore','Chicago','San Francisco','Berkeley', 'Seattle']
#y is a sequence of six items, each of which is a Python string data type.
#We can say that the variable "y" is assigned to a "list of strings".
x[0] #This will extract the first letter in the city name Boston.
#y[0] #This will extract the first item in the list of American cities.

'B'

In [148]:
x[3] #This will extract the fourth letter in the city name Boston.
#y[3] #This will extract the fourth item in the list of American cities.

't'

In [149]:
x(3) #Read the Python error message carefully! "str object is not callable"
#Only functions can be "called" and parthenses are used to call functions.
#This is a good contrast between when to use square brackets and when to us ( ).

TypeError: 'str' object is not callable

With <b>[ ]</b>, you can extract data from left to right or right to left.

1. For left to right, start with 0 and increment up to len(x)-1.
1. For right to left, start with -1 and decrement down

In [150]:
x
#y
#x[-1]  #Extract the last letter of the name Boston
y[-1]   #Extract the last item in our list of American cities

'Seattle'

#### <b>String and List Slicing</b> ####

Extract out ranges of characters from a string or items from either astring or a list using a start and stop index range separated by colon.

In [151]:
x[0:3] #Notice the slice starts at index 0 but ends at 3-1 or index number 2.
y[0:3]

['New York', 'Baltimore', 'Chicago']

In [152]:
x[:3] #Here is another format for extracting a range of data starting at 0.
y[:3]

['New York', 'Baltimore', 'Chicago']

In [153]:
x[-3:] #You can reverse this slice method from right to left. Reposition the :
y[-3:]

['San Francisco', 'Berkeley', 'Seattle']

In [154]:
x[len(x)-3:] #You can insert functions into square brackets with one KEY caveat
y[len(x)-3:] #The function must produce an integer value.

['San Francisco', 'Berkeley', 'Seattle']

In [155]:
#x[2.5] #Notice the error received when you use a float in the square brackets
y[2.5]

TypeError: list indices must be integers or slices, not float

In [156]:
len(x) #Note the length of your sequence whether it is a string or list
#len(y)
#len(y[0])
#y[0]
#len(y[1])
#y[1]

6

In [157]:
len(x)  #6 characters in the name "Boston"
x[7]  #When an index number greater than the max is entered,an error is flagged.

IndexError: string index out of range

You can extract and manipulate a complete sequence of items in a string or list with a Python <b>for</b> loop.

For the purposes of this introductory Data Science Notebook, we will use the following simple <b>for loop</b> syntax:

<b>for i in x:</b> 

1. where <b>"i"</b> is the index number of the string or list
1. <b>"x"</b> is the name of the string or list
1. <b>:</b> is syntax used to end the "for" loop statement. In Python, the <b>: punctuation symbol</b> is used to introduce a block of code following programmatic operations such as looping, conditional statements (if/elif/else) and function definitions. 

Given that we are using only the most basic <b>for loops</b> in this notebook, the code block is on the same line as the <b>for loop</b>. For multi-lined code blocks following <b>for loops</b>, <b>if/elif/else</b> statements and <b>function definitions</b>, all lines must be indented.

More details on <b>for loops</b> and other code blocks will be supplied in a later Notebook.

In [158]:
for i in x: print(i)  #i is the index number mapped to each char in the string.

B
o
s
t
o
n

In [159]:
for i in y: print(i)  #i is the index number mapped to each item in the list.

New York
Baltimore
Chicago
San Francisco
Berkeley
Seattle

In [160]:
for i in x[1:4]: print(i) #loop through a slice of a string

o
s
t

In [161]:
for i in y[1:4]: print(i) #loop through a slice of a list

Baltimore
Chicago
San Francisco

In [162]:
for i in x: print(i.upper()) #apply a Python method on each item in the for loop

B
O
S
T
O
N

In [163]:
for i in y: print(i.upper())

NEW YORK
BALTIMORE
CHICAGO
SAN FRANCISCO
BERKELEY
SEATTLE

In [164]:
for i in x: print(i.upper())

B
O
S
T
O
N

# <b>Conclusion</b> ###

In this Notebook, we explored the square bracket notation as it relates to Python string and list data types. We saw:

1. Python lists are delimited by square brackets and strings by quoations.
1. Both Python strings and lists are sequences. A string is a sequence of characters and a list is a sequence of items.
1. Both Python strings and lists have index numbers starting at zero identifying each and every item in their respective sequences.
1. Both Python strings and lists use the square bracket notation to extract out specific items from their respective sequences. This process is oftentimes called "slicing".

Congratulations you have hit a critical mass in your knowledge and skills of Python for Data Science!

In our next Jupyter Notebook, we will see how everything that you have learned in these first four videos:

1. Concepts of Object Oriented Programming in Python
1. Exploring Basic Python Data Type: string, integer, float and list
1. Exploring Python Built-in Functions: print, sum, len, etc.
1. Exploring the Python Square Bracket Notation with strings and lists

has prepared you to begin to dive into working with the key components of Python for Data Science:

1. numpy arrays
1. University of California at Berkeley Python datascience library
1. pandas