# <b>Computational Thinking</b> #
## <i>All Models Are Wrong. Some Models Are Useful</i> ##
### A Simple Model of Python Data Types</i> ###

The Simple Periodic Table of Python Data Types!
Just as all matter in the universe can be reduced to elements in the Period Table of Elements, all Python Data can be reduced to Python Data Types.

While there are many Python Data Types, we will focus on only four in this Jupyter Notebook Lesson: 

1. <b>Three Simple Python Data Types</b>: (1) String, (2) Integer, (3) Float 
1. <b>A Compound or Composite Python Data Type</b>: (1) List

Other important Python Data Types such as Boolean, Python Dictionaries and Tuples will be covered in a later Jupyter Notebook.

Let's begin by exploring the three simple Python Data Types listed above - string, integer, float.

### <b>Our Starting Point: The Python String Data Type</b> ###
A Python String Data Type can include virtually every possible character. Letters, numbers, punctuation symbols, symbols, hidden characters, etc.

The key indicator of a Python Data Type is the presence of quotation symbols at the beginning and ending of a string. Examples: <b>"</b>Data Science<b>"</b> or <b>'</b>Washington DC 20007<b>'</b>.

Either single or double quotes can be used to define a Python string.

What is the variable displayed in the Jupyter cell below:

In [12]:
x='cat' #The big hint is the value begins and ends with quotation marks.

In [13]:
#Your Answer

Use the DS4HS "proof by Python" technique to prove and verify the Python Data Type of variable "x" by using the <b>type(x)</b> statement.

In [14]:
type(x)

str

Out of the three simple Python Data Types listed above - string, integer and float - what is the variable displayed in the Jupyter cell below.

<b>Hint</b>: The assigned value to the variable 'y' is the number <b>10</b>.
This value is <b>NOT</b> enclosed with quotation symbols. This value has <b>NO</b> decimal point.

In [15]:
y=10  # Notice there are NO quotation marks and NO decimal point.

In [16]:
#Your Answer

Use the DS4HS "proof by Python" technique to prove and verify the Python Data Type of variable "y" by using the type(y) statement.

In [17]:
type(y)

int

Out of the three simple Python Data Types listed above - string, integer and float - what is the variable displayed in the Jupyter cell below.

<b>Hint</b>: The assigned value to the variable 'z' is the number <b>10</b>.
This value is <b>NOT</b> enclosed with quotation symbols. This value has <b>HAS</b> a decimal point.

In [18]:
z=10.5

In [19]:
#Your Answer.

Use the DS4HS "proof by Python" technique to prove and verify the Python Data Type of variable "z" by using the type(z) statement.

In [20]:
type(z)

float

#### <b><i>DS4HS Assessment of Understanding</i></b> ####

Use the following number assigned to the Python varaible <b>"tricky"</b> and add it to your Python variable <b>"y"</b> defined above.

Remember <b>y</b>=10

In [21]:
tricky= '100'  #Hint: Make note that 100 is enclosed within quotation symbols.
iamawiz = tricky+y
iamawiz

110

What is the problem?

In [13]:
#Your answer.., what are the traits of the Python data types covered so far?

<b>Question</b>: How can you resolve the issue without completely redefining the Python data types of variables <b>y</b> and <b>tricky</b>?
<b>Answer</b>: Python has a set of handy built-in functions called:
1. str()
1. int()
1. float()
These three built-in functions all you to change the Python data type in code rather than have to redefine a variable's data type from scratch. In our case, we can convert the variable "tricky" that is assigned the string '100' to an integer by making the following modification: <b>int(tricky)</b>.

Use the following cell to make this theory come to life by correctly revising the Python statement: <b>iamawiz=tricky+y</b>

In [14]:
#Your answer in Python code.

### Introducing Our First Python Data Structure: The Python <b>List</b> ###

To review what we have done so far, let's create a list of all of the variables we have created so far: <b>x, y, z, tricky</b>
Great! Now, let's place these variables into an actual Python <b>list</b> enclosing them <b>[ ]</b> and separating them with a comma.

While we have worked with the most basic Python Data Types - string, int, and float, these Data Types are of minimal value if they are not grouped into clusters or sets of data. A Python <b>list</b> is perhaps the simplest way of grouping sets/clusters of data. With this said, here is our first interaction with a Python <b>list</b>.

Make note that the Python <b>list</b> data structure will provide an excellent "compare/contrast" learning experience with the central Python data structure for Data Science: the Python <b>numpy array</b>. Python lists and numpy arrays possesses many similarities between each other but also many critical differences that are important for Data Science.

In [22]:
list_of_vars=[x,y,z,tricky]

Now let's put this Python <b>list</b> to work by writing a very simple two line Python <b>for loop</b> to list each variable's Python Data Type:

In [23]:
for i in list_of_vars: 
    print (i, '   ',type(i))

cat     <class 'str'>
10     <class 'int'>
10.5     <class 'float'>
100     <class 'int'>

Notice this Python <b>for</b> loop produced a list of values for each variable in the <b>list_of_vars</b>  along with their specific Python Data Types. 

In this Notebook, we are focusing on mastering the basics of Python Data Types. The details of using <b>for</b> loops will be covered in a future Jupyter Notebook.

Let's modify our list_of_vars <b>for</b> loop in the following manner to list both the variable name and it's Python Data Type:

In [18]:
for i in list_of_vars:
    print(i,  type(locals()[i])) #"locals()" prints out all of the defined Python local variables

x <class 'str'>
y <class 'int'>
z <class 'float'>
tricky <class 'int'>

Very nice! As you can see, incrementally adding on snippets of code in a structured manner makes your Python output richer and more informative.

### <b>Conclusion</b> ###
In this Notebook, we explored the following three basic Python Data Types:

1. string
1. int
1. float

We also learned to group these basic data types using yet another Python Data Type: a "list". Since a "list" contains other Data Types inside of it, a "list" is also referred to as a Python <b>Data Structure</b>. 

We also encountered three Python built-in functions in this Notebook:

1. str()
1. int()
1. float()

In our next Notebook, we will explore more built-in Python functions to manipulate the basic Python Data Types we have covered so far: string, int, float and list.